<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<h4>URLs and their shortened forms</h4>
<ul>
  <% for(var data of urls) { %>
    <li>
      <%= data.surl %>: <a href="<%= data.lurl %>"><%= data.lurl %></a>
      <a href="/urls/<%= data.surl %>">edit</a>
      <form method="POST" action="/urls/<%= data.surl %>/delete" style="display: inline">
        <button>delete</button>
      </form>
    </li>
  <% } %>
</ul>
<a href="/urls/new">Shorten URL</a>
</body>
</html>